html, body {
	padding:0;
	margin:0;
}
.liberapay-btn {
  background-color: #f6c915;
  border-radius: 4px;
  color: #1a171b;
  display: inline-block;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 5px 7px 3px;
  position: relative;
  text-decoration: none;
}
.liberapay-btn:hover {
  background-color: #fbce1a;
}
.liberapay-btn > svg {
  position: absolute;
  left: 7px;
  top: 7px;
}
.liberapay-btn > span {
  margin-left: 19px;
  color: #1a171b;
}
.patreon_link {
  -moz-box-align: center;
  align-items: center;
  backface-visibility: hidden;
  background-color: rgb(255, 66, 77);
  border-radius: 9999px;
  border: 1px solid rgb(255, 66, 77);
  box-sizing: border-box;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem !important;
  /* font-weight:bold; */
  font-weight: 700;
  height: unset;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0.46875rem 1rem;
  position: relative;
  pointer-events: unset;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  user-select: none;
  white-space: unset;
}
