/* SPDX-FileName: edit_source.css
 * SPDX-FileCopyrightText: 2022  Simon Descarpentries, simon /\ acoeuro [] com
 * SPDX-License-Identifier: GPL-3.0-only
 */
legend > h3 {
	/*font-family: Sans, sans-serif;
	font-size:133%;*/
	font-weight:bold;
	margin: 0 0.5ex 0 0.5ex;
}
.form_fieldset_base {
	display:none;
	margin : 20px 10px;
	border-radius: 10px;
	padding: 0.5em 1em;
	max-width: 95%;
	border: solid 1px;
}
.form_fieldset_base > legend {
	margin-left: 1em;
}
.form_fieldset_hide {
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}
.form_fieldset_hide > * {
	display: none !important;
}
.form_fieldset_hide > legend {
	display: inline !important;
}
.form_input_error {
	color: red;
	font-size: 13px;
	opacity: 0.75;
	margin: 0.25em 1em;
}
.form_text_info {
	color : orange;
	font-size: 13px;
	margin: 0.25em 1em;
}
.form_input_text {
	padding: 1ex;
	background: transparent;
	border-radius: 5px 5px;
	border: 1px solid var(--mp-turquoise-background);
	border-width: 1px;
	border-left-width: 1ex;
	/*box-shadow:0px 1px 1px 0px var(--mp-gray);*/
	/*height: 30px;*/
	/*width: 50%;*/
	margin-top:1ex;
	margin-bottom:0!important;
	margin-left:1em;
	box-sizing: border-box;
	color:var(--mp-foreground);
	/*transition: border-width 0.1s;
	transition-timing-function: ease;*
	/*font-size: 100%;*/
}
.form_input_text::-moz-placeholder {
	font-style:italic;
	/*font-weight:bold;*/
}
/*.form_input_text::focus {
	border-width: 3px;
	border-left-width: 1ex;
}*/
.form_input_text_reg {
	width: 25%;
	background-color: var(--mp-background);
	margin-left: 0.25em;
	margin-right: 0.25em;
}
.form_required {
	border-radius: 5px 5px;
	border-left-width: 1ex !important;
	border-color: var(--mp-turquoise-background) !important;
}
.form_mode_selected {
	border : 3px solid var(--mp-a-color);
}
/*.form_required:hover {
	border-width: 3px;
	border-left-width: 1ex;
}*/
.form_warning {
	border-color: var(--light-gray) !important;
}
.form_input_warning {
	border-color: orange !important;
}
.form_input_required {
	border-color: red !important;
}
.form_favicon {
	width : 30px;
	height : 30px;
	margin: 0px 0 0 1ex;
	vertical-align: middle;
}
#progress_bar{
	display: flex;
	justify-content: center;
}
#progress_bar_border {
	width:48ex;
	height:5ex;
	font-size:20px;
}
#progress_bar_border {
	width:48ex;
	height:1ex;
	font-size:20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
	background-color: transparent;
}
#progress_bar_gauge {
	font-size:20px;
	background-color:var(--mp-turquoise-background);
	border-radius: 1em;
	height: 100%;
	width: 0%;
}
#progress_bar_text {
	margin-left: 1em;
	font-size: 13px;
}
.tech_search_system_user_choice {
	background-color: darkgray;
	padding : 5px;
}
.tech_accuracy_result_user_choice {
	background-color: darkgray;
	padding : 5px;
}
#sub_dom {
	padding: 1em;
	font-size: 10px;
	width: 85%;
	max-width: 100%;
	border-radius: 1em;
	margin: 1em auto;
}
#sub_dom * {
	width : auto ;
	overflow: hidden ;
	text-overflow: ellipsis;
	max-width: 100em ;
}
#sub_dom .sub_dom_show_div {
	margin: 1px !important;
	/*border: 2px solid black !important;*/
	padding: 1px !important;
}
#sub_dom div {
	padding : 2px;
}
/**
#sub_dom div:hover	{
	background-color: chocolate;
	border: 2px solid black !important;
}
*/
#sub_dom :not(div > :hover)  {
	background-color:unset;
	border: none !important;
}
#sub_dom img {
	max-width: 10%;
	max-height: 5%;
	text-align:left;
}
#sub_dom svg {
	display: none;
}
#sub_dom button {
	font-size: 10px;
}
#sub_dom a {
	color:lightgray !important;
}
#sub_dom a.disabled {
	pointer-events: none;
	cursor: default;
}
.form_content_sub_dom {
	/*display: inline-block;*/
	height: 75vh;
	background-color: darkgray;
	overflow: scroll;
	white-space: nowrap;
}
.form_current_selection_focus {
	border-color: red;
}
.form_selection_container {
	width: 85%;
	max-width: 85%;
	margin-top: 0.5em;
}
.form_selection_container_sub {
	padding-left: 1em;
}
.form_selection_text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 20em;
	white-space: nowrap;
	vertical-align: middle;
}
.form_selection_body {
	background-color: darkred;
	border-color: darkred;
}
.form_selection_body > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_body_input {
	border-color: darkred;
}
.form_selection_body_text {
	color: darkred;
}
.form_selection_results {
	background-color: darkcyan;
	border-color: darkcyan;
}
.form_selection_results > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_results_input {
	border-color: darkcyan;
}
.form_selection_results_text {
	color: darkcyan;
}
.form_selection_r_h1 {
	background-color: darkgoldenrod;
	border-color: darkgoldenrod;
}
.form_selection_r_h1 > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_h1_input {
	border-color: darkgoldenrod;
}
.form_selection_r_h1_text {
	color: darkgoldenrod;
}
.form_selection_r_url {
	background-color: darkgreen;
	border-color: darkgreen;
}
.form_selection_r_url > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_url_input {
	border-color: darkgreen;
}
.form_selection_r_url_text {
	color: darkgreen;
}
.form_selection_r_dt {
	background-color: darkkhaki;
	border-color: darkkhaki;
}
.form_selection_r_dt > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_dt_input {
	border-color: darkkhaki;
}
.form_selection_r_dt_text {
	color: darkkhaki;
}
.form_selection_r_txt {
	background-color: darkmagenta;
	border-color: darkmagenta;
}
.form_selection_r_txt > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_txt_input {
	border-color: darkmagenta;
}
.form_selection_r_txt_text {
	color: darkmagenta;
}
.form_selection_r_img {
	background-color: darkolivegreen;
	border-color: darkolivegreen;
}
.form_selection_r_img > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_img_input {
	border-color: darkolivegreen;
}
.form_selection_r_img_text {
	color: darkolivegreen;
}
.form_selection_r_by {
	background-color: darkorange;
	border-color: darkorange;
}
.form_selection_r_by > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_r_by_input {
	border-color: darkorange;
}
.form_selection_r_by_text {
	color: darkorange;
}
.form_selection_res_nb {
	background-color: darkorchid;
}
.form_selection_res_nb > * {
	margin: 1px !important;
	border: 2px solid black !important;
	padding: 1px !important;
}
.form_selection_res_nb_input {
	border-color: darkorchid;
}
.form_selection_res_nb_text {
	color: darkorchid;
}
#check_all_tz_id {
	margin-left: 1em;
	margin-top: 0.25em;
}
#check_all_tz_label {
	opacity: 0.75;
}
.choices {
	border-radius: 5px 5px;
	margin-bottom: 0px !important;
}
.choices__list--single .choices__item, {
	width:inherit !important;
}
.choices__button {
	position:relative !important;
}
.sel_mul_box {
	margin: 0 0 1ex 1em;
	padding: 0;
}
label {
	margin-top:1em;
}
.cbx_label {
	margin:0;
}
hr {
	margin-left: 0 !important;
}
.form_input_tips {
	display: none;
	margin-top: 0.5em;
	margin-left: 1em;
	opacity: 0.75;
	font-size: 13px;
	font-style: italic;
}
.tips {
	display: none;
	font-size: 13px;
	font-style: italic;
	margin-left:1ex;
	margin-right:1ex;
}
.btn_tips {
	padding:1ex;
	margin-left:1ex;
}
.btn_clearer {
	font-size:16px;
	border:none;
	background:none;
	vertical-align:middle;
	padding-right:0;
}
.input_container {
	display: block;
}
#part_path_selector_info_id {
	margin: 0.5em 1em;
	opacity: 0.75;
}
.method_hint {
	margin: 0.5em 1em;
}
#part_date_format_description, #part_date_format_model_id, #part_date_format_preview_id {
	margin: 1em 0em;
}
#part_date_format_tuto {
	margin: 0em 2em;
}
#part_date_format_model, #part_date_format_preview {
	margin: 0em 1em;
}
#part_date_format_preview_text {
	border: 1px solid var(--mp-turquoise-background);
	border-radius: 5px;
	padding: 5px;
}
#part_date_format_success {
	margin: 0em 1em;
	margin-bottom: 0.5em;
	color: green;
}
.form_part_date_format_input_content {
	background-color: var(--mp-frame-background);
	border: 1px solid #ddd;
	border-radius: 2.5px;
	margin: 1em 1em;
}
.form_part_date_format_input_content input {
	margin-left: 5px;
	margin-right: 5px;
}
.form_list {
	width: 95%;
	margin:1em auto;
}
.form_item_list {
	margin-right: 3.75px;
	margin-bottom: 3.75px;
	border: 1px solid #00a5bb;
	color: #fff;
	box-sizing: border-box;
	background-color: var(--dark-turquoise);
	border-color: var(--mp-background);
	padding: 0px 4px;
	font-size: 15px;
	border-radius: 5px;
	display: inline-flex;
	cursor: pointer;
}
.form_item_placeholder {
	width: 100%;
	opacity: 0.5;
	list-style: none;
	font-size: 14px;
	margin-bottom: 0.5em;
	vertical-align: top;
}
.form_item_text {
	margin: 0.5ex 0.25ex;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	max-width: 10em;
}
.form_item_btn {
	margin: 0 1px;
	position: relative;
	display: inline;
	border-radius: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border: 0;
	opacity: 0.5;
	color: var(--mp-background);
	transition: opacity 0.5s;
}
.form_item_btn:hover {
	opacity: 1;
}
.anim_btn{
	padding: 6px 10px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	width: 20%;
	min-width: max-content;
	background-color: var(--mp-a-color);
	box-shadow: 2px 5px var(--mp-other-gray);
	border: 1px solid var(--mp-background);
	border-radius: 8px;
	color: var(--mp-background);
}
.anim_btn:active {
	background-color: var(--mp-turquoise-background);
	box-shadow: 2px 2px var(--mp-gray);
	transform: translateY(4px);
}
.part_date_form_span_reg {
	margin-right: 1em;
}
#part_date_format_input_reg {
	width : 45%;
}
#part_date_format_input_pos {
	width : 45%;
}
#part_date_format_err {
	border-color: red;
	font-size: 13px;
	opacity: 0.75;
	margin: 0.25em 1em;
}
#part_date_format_btn_confirm {
	margin: 0.5em 0.5em;
}
#part_date_format_input_id	{
	margin: 1em 0.5em;
	width: auto;
	height: auto;
}
#part_date_format_input_id input, #part_date_format_input_id button {
	margin: 0 5px;
}
#part_date_format_list > li {
	margin : 0;
	margin-top: 1em;
}
.renderjson a							 { text-decoration: none; }
.renderjson .disclosure		 {
	color: black;
	font-size: 150%;
}
.renderjson .disclosure:hover { color: crimson;}
.renderjson .syntax				 { color: grey; }
.renderjson .string				 { color: pink; }
.renderjson .number				 { color: lightblue; }
.renderjson .boolean			 { color: purple; }
.renderjson .key					 { color: yellow; }
.renderjson .key:hover		 { background-color: var(--mp-foreground); }
.renderjson .keyword			 { color: white; }
.renderjson .object.syntax { color: white; }
.renderjson .array.syntax  { color: white; }
