/* SPDX-FileName: meta-press.css
 * SPDX-FileCopyrightText: 2017-2022 Simon Descarpentries, simon /\ acoeuro [] com
 * SPDX-License-Identifier: GPL-3.0-only
 */
/* latin & latin-ext */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(font/AmaticSC-Regular.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin & latin-ext */
 @font-face {
	font-family: 'Amatic SC';
	font-style: bold;
	font-weight: 400;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(font/AmaticSC-Bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
:root {
	--dark-normal-background: black;
	--dark-frame-background: rgb(50,50,50);
	--light-normal-background: white;
	--light-frame-background: #F0F0F0;
	--turquoise: #00D0C0;
	/* --turquoise: #007969; */
	--dark-turquoise: #007969;
	--mp-background: var(--dark-normal-background);
	--mp-turquoise-background: var(--dark-turquoise);
	--light-foreground: #DDD;
	--mp-foreground: var(--light-foreground);
	--mp-frame-background: var(--dark-frame-background);
	--mp-a-color: var(--turquoise);
	--light-gray: #999;
	--dark-gray: #666;
	--mp-gray: var(--light-gray);
	--mp-other-gray: var(--dark-gray);
	/* --mp-max-height: 333ex;  *//* a bigger value would speed up / spoil CSS transitions */
	--mp-max-height: 66ex;  /* a bigger value would speed up / spoil CSS transitions */
	/* --mp-max-zindex: 2147483647;  /* max 32 bits signed int */
	--mp-max-zindex: 999;  /* max 32 bits signed int */
}
html, body {
	background: var(--mp-background);
	color:var(--mp-foreground);
	min-height:100vh;
	margin:0;
	font-family: Sans, sans-serif
}
body {
	display:flex;
	flex-direction:column;
}
body.waiting,
body.waiting * {
	cursor: progress !important
}
.page_content {
	padding:1em;
	flex:1;
}
/*a:focus, .a:focus {
a:active, .a:active {*/
a, .a {
	color: var(--mp-a-color) /* !important */;
	text-decoration: none !important;
}
a:hover, .a:hover, .black_a:hover {
	cursor:pointer;
}
.seamless {
	background:transparent;
	border:0
}
.pagination > li > a, .pagination > li > span {
	color: var(--mp-a-color)
}
.pagination-small > li > a, .pagination-small > li > span {
	padding:3px 6px !important;
}
.pagination-small > li > a:focus,
.pagination-small > li > a:hover,
.pagination-small > li > span:focus
.pagination-small > li > span:hover {
	font-weight:normal !important;
}
.black_a:hover {
	text-decoration:underline;
}
h1, .h1, h2, .h2{
	margin:0;
}
h3, .h3 {
	font-weight:normal;
	margin: 0.5ex 0;
	margin-top:1em;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-family:'Amatic SC', Sans, sans-serif;
}
h1, .h1 { font-size:500%; }
h2, .h2 { font-size:275%; color:gray; }
h3, .h3 { font-size:175%; }
/*h4, .h4 { font-size:125%; }*/
h4, .h4 { font-size:100% !important; }
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
}
p, ul { margin:0 }
.bold {	font-weight: bold }
button {font-size:14px}
label {font-weight: normal!important}
*:disabled {
	/*color: gray;*//* Would prevent reading of provided sources in custom_sources.html */
	cursor: not-allowed !important;
	border: dashed 1px darkgray !important;
}
.btn {
	background-color:var(--mp-background);
	box-shadow:1px 1px var(--mp-gray);
	padding:0.3ex 0.5ex;
	margin:0.5ex 0;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid var(--mp-turquoise-background);
	white-space: nowrap;
	font-size: 14px;
	border-radius: 4px;
	user-select: none;
}
textarea {color:black;}
.blog-masthead {
	background-color: var(--mp-turquoise-background);
	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
#meta_press_logo, .center_content {text-align:center}
#div-nav {
	display: inherit;
}
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	/*color:black !important;*/
	color:var(--mp-foreground)!important;
	font-family:'Amatic SC', Sans, sans-serif;
	font-weight:bold;
	font-size:20px;
}
#tooltips_help:hover ~ span {
	display:inline!important;
	color:black !important;
}
.blog-nav .drop_btn {
	padding: 2px;
	margin-left: 0.5ex;
}
.blog-nav .drop_display {
	display: block;
	position: relative;
	z-index: var(--mp-max-zindex);
	background-color: var(--mp-frame-background);
	display: flex;
	flex-direction: column;
	padding: 1ex;
	border-radius: 4px;
	left: 3ex;
}
.blog-nav {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}
#img_RSS { max-width:1.5ex }
#mp_import_RSS {
	padding-right:0;
}
#mp_import_JSON, #mp_import_ATOM, #mp_import_CSV, .no_padding { padding:0!important; }
/**	Active state gets a caret at the bottom **/
.blog-nav .active,
.blog-nav-item:focus {
	font-weight:bold !important;
	/*color:black !important;*/
	color:var(--mp-foreground)!important;
}
.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}
/**	Blog name and description **/
#headlines {
	padding:1ex;
	border-left:solid 1px var(--mp-foreground);
	border-bottom:solid 1px var(--mp-foreground);
	border-radius: 5px;
	/*height:24ex;*/
}
#load_headlines { float:right; }
#headlines .list { margin-bottom:1ex; }
#headlines .pagination { clear:both; }
#purges_c_src {
	margin-right: 1ex;
}
.blog-title {
	font-weight: bold;
}
.blog-description {
	font-weight: normal;
	color: var(--mp-gray);
	margin-bottom:0.25ex;
	font-size:283% !important;
}
#headlines ul {
	float:left;
	padding:0;
	max-width:100%;
}
.f_ico_res {
	float: left;
	margin-right:5px;
}
#mp_headlines_page_sizes {
	clear:both;
	color: var(--mp-gray);
	width:100%;
	text-align:right;
}
/**	Main column and sidebar layout **/
.blog-main {
	font-size: 18px;
	line-height: 1.5; }
/* Sidebar modules for boxing content */
.sidebar-module { padding: 15px; }
.sidebar-module-inset {
	padding: 1ex;
	background-color: var(--mp-frame-background);
	border: 1px solid #D0D0D0;
	border-radius: 4px; }
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0; }
/* Select */
.has-no-choices, .has-no-results, .choices__item--choice::after{
	display: none;
}
.choices__list--dropdown .choices__item--selectable {
	padding-right: 0 !important;
}
.choices__inner {
	padding: 5px 5px 2.5px !important;
}
.choices__inner, .choices__input, .choices__list {
	background-color: var(--mp-frame-background) !important;
}
.is-disabled .choices__inner {
	cursor: not-allowed !important;
	border: dashed 1px black;
}
.choices__list--dropdown { z-index: 10 !important }
.choices__list--multiple .choices__item {
	background-color: var(--dark-turquoise) !important;
	border-color: var(--mp-background) !important;
	padding: 0px 4px !important;
	font-size: 14px !important;
	border-radius: 5px !important;
	display:inline-flex !important;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: var(--dark-turquoise) !important;
	color: var(--light-foreground)!important;
}
.choices__button{
	border-left: 0 !important;
	background-size: 0 !important;
	padding: 0 !important;
	line-height: 0 !important;
	margin: 0 0 0 2px !important;
	font-size:11px;
}
.choices__button::after{
	content: " ✖" !important;
	text-indent: 0 !important;
	display: block !important;
	line-height: initial !important;
}
input.choices__input{
	max-width: 23% !important;
}
.choices__item[aria-selected=true] small{display: none}
/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
	color:black !important;
}
.pagination > li > a,
.pagination > li.disabled > a
{
	border-color:var(--mp-turquoise-background);
	background-color:transparent;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination .active a:hover,
.pagination .active a:focus,
.pagination .active a
{
	font-weight:bold;
	border-color:var(--mp-turquoise-background);
	background-color:var(--mp-turquoise-background);
	border-width:2px;
	color:black !important;
}
/**	Blog posts **/
.blog-post { margin-bottom: 60px }
.blog-post-title { margin-bottom: 5px; font-size: 40px }
.blog-post-meta {	margin-bottom: 20px; }
/**	Footer **/
.blog-footer {
	padding: 2em 0;
	color: var(--mp-gray);
	text-align: center;
	background-color: var(--mp-frame-background);
	border-top: 1px solid #C0C0C0;}
.blog-footer p:last-child { margin-bottom: 0; }
/** Findings	**/
#mp_query, #mp_submit {
	font-size:18px;
	font-weight:bold;
	margin-bottom:0!important;
	margin-top:1em;
	background-color: var(--mp-background);
	box-shadow:1px 1px 1px 1px var(--mp-gray);
}
#mp_query::-moz-placeholder {
	font-style:italic;
	font-weight:normal;
	font-size:80%
}
#mp_query {
	width: 85%;
	padding: 10px;
	border-radius: 10px 0 0 10px;
	border: 1px solid var(--mp-turquoise-background);
	height: 5ex;
	border-right:0;
}
@media only screen and (max-width: 445px) {
	#mp_query {
		width: calc(100% - 10px);
	}
	#mp_submit {
		min-width: 60px;
	}
	#mp_clear_query {
		margin-left:auto!important;
		margin-right:70px!important;
	}
}
#mp_submit {
	border-radius: 0 10px 10px 0;
	border: 2px solid var(--mp-turquoise-background);
	width:15%;
	height: 5ex;
	margin-top: -5ex;
	display: block;
	margin-left: 85%;
	z-index: 10;
	position: relative;
}
#mp_submit > img {
	width:40px;
}
#mp_submit:hover, #save_custom_sources:hover {
	border:4px solid var(--mp-turquoise-background)
}
#mp_submit[disabled] {
	background-color:lightgray !important;
	/* border:2px solid gray !important; */
	/*border: dashed 1px black;*/
}
#mp_clear_query {
	border:0;
	color: var(--mp-gray);
	background-color: var(--mp-background);
	margin-left:50vw;
	margin-top:-4ex;
	height:3ex;
	font-size:18px;
	display:block;
}
#save_custom_sources {
	padding:1ex;
	margin:0 1ex 1ex 0;
	background-color:var(--dark-turquoise);
	border-radius:4px;
	border:0px;
	color:white;
}
#mp_stop {
	margin-top:1ex;
}
#reset_custom_sources {
	margin-top:0;
}
#mp_stop, #reset_custom_sources, #copy_reformated_raw_src {
	margin-right:1ex;
	margin-bottom: 1ex;
	margin-left:0;
	padding:0.5ex;
	background-color: var(--mp-background);
	color: var(--mp-foreground);
	border-radius: 5px;
}
#custom_sources, #provided_sources { width:100% }
#custom_sources_ln_nb {
	width:100%;
	text-align:right;
	margin-top:1ex
}
#copy_reformated_raw_src {
	float:right;
}
.choices:after {
		content: '';
		height: 0;
		width: 0;
		border-style: solid;
		border-color: var(--mp-foreground) transparent transparent transparent !important;
		border-width: 5px;
		position: absolute;
		right: 11.5px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
	}
.choices.is-open:after {
		border-color: transparent transparent var(--mp-foreground) transparent !important;
		margin-top: -7.5px;
	}
#mp_filter, #mp_clear_filter{
	margin-top:1em;
	margin-bottom:1.25ex;
	padding:1ex;
	background-color: var(--mp-frame-background);
	border: 1px solid #D0D0D0;
}
#mp_clear_filter {
	border-radius: 0 4px 4px 0;
	margin-left:-0.5ex;
	color: var(--mp-gray);
	border-left:none;
	width:11%;
	float:right;
}
#mp_filter:focus {outline: none;}
#mp_filter {
	border-right:none;
	border-radius: 4px 0 0 4px;
	width:89%;
}
#mp_query_search_terms { font-weight:bold }
.img_RSS {
	max-width:2ex;
	vertical-align:sub;
	margin-right:0.5ex;
}
.list, .pagination { list-style-type:none }
.pagination { text-align: center }
.pagination li {
	display:inline-block;
	margin-right: 1ex;
}
.h_body {
	white-space: normal;
	margin-left:3ex;
	text-align:justify;
	line-height:115%
}
.f_txt_wrapper {
	margin-top:-1ex;
}
.f_txt {
	margin-left:30px;
	text-align:justify;
	max-height:11ex;
	overflow:hidden;
	line-height:18px;
	/*resize:vertical;*/ /* set by JavaScript only when elt isOverflown */
	transition: max-height 1s;
}
.f_txt:focus,
.f_txt:hover {
	max-height:var(--mp-max-height); /* transitions need an absolute value */
	overflow-y:scroll; /* To allow JavaScript to find when elt isOverflown */
}
.h_img[src=""]{ display:none !important; }
.h_img {
	max-width:18ex;
	max-height:10ex;
	float:right;
	margin:0.5ex 1ex 0 1ex;
	width:auto;
	height:auto
}
.f_img[src=""]{ display:none !important; }
.f_img {
	max-width:18ex;
	max-height:10ex;
	float:left;
	margin:0.5ex 1ex 0 30px;
	text-align:left;
	width:auto;
	height:auto
}
.f_txt .load_img {
	float:left;
	margin-right:1ex
}
#findings > ul.list > li { display:flow-root }
.f_url { font-weight: bold }
.f_selection {
	display:none; /* re-init in js/meta-press.es:105 */
	/* kept here in case of JavaScript execution failure */
	/* bigger Checkboxes */
	transform: scale(1.5);
	margin-left:0.5ex!important;
	float:left;
}
#keep_open {
	float:left;
	margin: 0.5ex 0;
}
.news_loading_index {
	transform: scale(1.5);
}
.mp_export_choices { display:none;float: right; }
.f_metadata {
	font-size:12px;
	color: var(--mp-gray);
	margin-left:30px;
	margin-bottom:1ex;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	width:95%;
}
.f_by:not(:empty)::before,
.f_source:not(:empty)::after
{	content:" – " }
#no_results { text-align:center }
#no_results_img { width:100% }
.mf_title { text-align:left; }
.mf_title, .mf_remove_source, .mf_ext_link, .mf_report, #mf_total {
	margin-top:0;
}
.mf_report { line-height: 20px; display:none; }
li:hover > .hover,
li:focus > .hover
{ display:inline !important; }
/* report */
.input_report {
	border-radius: 4px;
	border: 1px solid  var(--mp-turquoise-background);
	background: transparent;
	box-shadow:1px 1px 1px 1px var(--mp-gray);
	width: 100%;
}
.report_popin {
	border-radius: 4px;
	border: 1px solid var(--mp-turquoise-background);
	display: flex;
	flex-direction: column;
	position: fixed;
	position: inherit;
	background-color: transparent;
	padding: 1ex;
	padding-top:0;
	width: auto;
	margin: 0 auto 1ex auto;
}
.report_popin > div {
	margin-top: 0.5em;
	display: flex;
	justify-content: space-around;
}
#select_prob {
	color:var(--mp-foreground);
	font-family: Sans, sans-serif
}
/* report */
.mf_ext_link[href=""] {
	display:none
}
.mf_name, #result_list h4 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top:0;
	margin-bottom:0;
}
.mf_nb {
	float:right;
	color:var(--mp-foreground);
}
#mf_date_filters {list-style:none}
#mf_date_filters li { padding: 0 1ex }
#mf_date_filters li:hover {
	background-color: var(--mp-frame-background) !important;
	border-color: #D0D0D0
}
#meta-findings {padding-right:0!important}
#meta-findings .toggle_float > .btn {
	float: right;
}
#meta-findings ul {padding:0}
#mf_meta_search {
	display: none;
	justify-content: center;
	padding: 0 1ex 1ex 1ex;
}
#mp_meta_search, #mp_clear_search {
	padding: 1ex;
	border: 1px solid rgb(208, 208, 208);
	background-color: var(--mp-frame-background);
}
#mp_meta_search {
	border-radius: 4px 0px 0px 4px;
	border-right: medium none;
	cursor: inherit;
	width: 80%;
}
#mp_clear_search {
	width: 10%;
	border-radius: 0px 4px 4px 0px;
	border-left:none;
	color: var(--mp-gray);
}
#meta-findings_list {padding:0; margin-bottom:0}
.mf_dt_overflow,
.header-inner {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:100%;
	margin-top:1ex;
}
.h_body {
	max-height:7.5ex;
	transition: max-height 1s;
	overflow-x:hidden;
	overflow-y:scroll;
}
.h_body:hover,
.h_body:focus {
	max-height:var(--mp-max-height);
	/*overflow:scroll;*/
}
.src_name_overflow {
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
#mp_export_results {
	padding: 1ex;
}
.menu_export {
	width: min-content;
	height: 0px;
	position: relative;
}
#date_range {justify-content: flex-end;}
#date_filter_sta, #date_filter_sto {
	margin-right: 1em;
	width: auto;
}
#clear_date {float: right;}
.mf_dt_filter {
	height:2em;
	align-items: center;
	display:none;
	border-radius: 4px;
}
.mf_dt_overflow {
	text-overflow: '';
	width:63%;
	direction:rtl;
	text-align:right;
}
.mf_dt_lbl {
	float:left;
	width:35%;
}
#mp_export_results {
	float:right;
	margin-bottom:1.25ex;
	padding:1ex;
	text-align:right;
}
.row {margin-right: 0 !important}
#before_search_stats { line-height:1px }
#search_stats {text-align:center; clear:both}
#search_stats_logo { width:48px }
.right {float:right}
#filter_sources {display:inline-block}
#tags_handle {
	font-family:sans-serif;
	margin: 0 9px 9px 9px;
}
.cur_tag_sel_nb {
	font-style:italic;
	color: var(--mp-gray);
	margin-left: 15px;
}
#reset_tag_sel, .add_auto_s, .add_src {font-style:normal}
.tags_col {padding-right:0 !important}
.tags_col > label {width:100%!important}
.red {color:red}
.red_hover:hover { color: red !important }
.error {color:red; background:#FFCCCC}
.valid {color:green; background:#CCFFCC}
.grey {color:grey}
.green {color:green}
.black {color:var(--mp-foreground)}
.center { margin: 0 auto }
.display_none, .mask { display: none }
.display_block { display: block }
.display_inline { display: inline }
.display_flex { display: flex }
.visibility_hidden { visibility: hidden }
.clear_both { clear:both }
.text_align_right { text-align:right }
.text_align_center { text-align:center }
.float_right{ float: right }
#waiting_gif {
	margin: 2em 33% 0 33%;
	width: 300px;
	height: 300px;
}
.loadersmall,
#waiting_anim { /* not used anymore */
	/* border: 5px solid #f3f3f3; */
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	border-top: 5px solid var(--mp-turquoise-background);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height:1px;
}
/* Dev Tools */
#mp_dev{
	background: var (--dark-turquoise);
	color: black;
}
#mp_goto_input {color:var(--mp-turquoise-background)!important}
#mp_goto_input:focus {color:black!important}
/* tooltips used when you wait source (Marin) */
/* style CSS for tooltip find from : "https://www.w3schools.com/howto/howto_css_tooltip.asp" */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltip_text {
	visibility: hidden;
	width: 500px;
	background-color: #555;
	color: #fff;
	font-size: 20px;
	text-align: left;
	padding: 1em;
	border-radius: 6px;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 1s;
}
/* Tooltip arrow */
.tooltip .tooltip_text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when your mouse hover the tooltip container */
.tooltip:hover .tooltip_text {
	visibility: hidden;
	opacity: 1;
}
/* just for text family */
.tooltip_text_family {
	font-family:sans-serif;
	font-size: 13px;
}
.running_button_src {
	display: none;
}
.running_button_src_text {
	visibility: hidden;
}
#mp_running_btn_src {
	font-style:normal!important;
	font-family: sans-serif;
}
.first_new_result {
	border-top: solid;
	border-radius: 5px 5px 0px 0px;
}
.last_new_result {
	border-bottom: solid;
	border-radius: 0px 0px 5px 5px;
}
.new_result {
	border-color: var(--mp-frame-background);
	border-right : solid;
	border-left: solid;
	padding: 5px;
}
#result_list { margin-left:-40px }
#result_list > li {
	padding: 4px;
	margin-bottom:1ex;
}
#result_list > li:nth-child(even) {
	background: var(--mp-frame-background);
}
.choices__list--dropdown {
	top: unset !important;
	bottom: 100% !important;
}
/*
 * onglet
 */
.tab {
	background-color: var(--mp-frame-background);
	border: solid var(--dark-turquoise) 1px;
	border-radius: 4px 4px 0px 0px;
	border-bottom: none;
	margin-top: 1ex;
	width: max-content;
	display: inline-flex;
}
.tab > *:first-child {
	border-left: none
}
.tab > * {
	background-color: var(--mp-frame-background);
	border: none;
	padding: 1ex;
}
.tab > span {
	border-left: solid var(--dark-turquoise) 1px;
	height: 100%;
	padding: 0%;
	margin: 0%;
}
.tab > .select {
	font-weight: bold;
	background-color: var(--light-gray);
	border: solid var(--dark-turquoise) 1px;
}
.custom_source_commands {
	float:right
}
/*
 * list sources
 */
.horizontal_pipe_border {
	border: solid var(--dark-turquoise) 1px;
	border-right: none;
	border-left: none;
}
.vertical_pipe_border {
	border: solid var(--dark-turquoise) 1px;
	border-top: none;
	border-bottom: none;
}
#list_src a, #list_src button {
	color: var(--mp-foreground);
	text-decoration: none;
}
.search_v {
	display: inline-flex;
	width: 100%;
	background-color: var(--mp-frame-background);
	border: solid var(--dark-turquoise) 1px;
	border-radius: 0px 4px 0px 0px;
}
.search_input {
	flex: auto;
	background-color: var(--mp-frame-background);
	border: none;
	border-right: solid var(--dark-turquoise) 1px;
	padding: 1ex;
}
#mp_edit_v_src_search {
	background-color: var(--mp-frame-background);
	border: none;
	border-right: solid var(--dark-turquoise) 1px;
}
.clear_search {
	flex: initial;
	background-color: var(--mp-frame-background);
	border: none;
	padding: 1ex;
}
#mp_v_sel {
	background-color: var(--mp-frame-background);
}
#mp_v_sel > button {
	margin:0.5ex;
	margin-right:0;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	box-shadow: 1px 1px var(--mp-gray);
	background-color: var(--mp-frame-background);
}
.selection_com {
	border-bottom: solid var(--dark-turquoise) 1px;
}
.selection_com .red_hover {
	border: none;
	border-right: 2px solid var(--dark-turquoise);
}
#list_src .list {
	width: 100%;
	background-color: var(--mp-frame-background);
	border: solid var(--dark-turquoise) 1px;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	padding: 0;
}
li.src_item {
	margin-left:0!important
}
li.src_item > * {
	padding: 0.5ex;
	padding-right:0!important
}
.btn_info > .btn {
	float: left;
	margin: 0px 0.5ex 0px 0.5ex;
	width: 2.5em;
	height: 2em;
}
.btn.v_list_item {
	margin-left: 0;
}
.selected {background-color: var(--mp-turquoise-background)}
/*
 * Dropdown
 */
.drop_down_div {
	display: none;
	position: relative;
}
.up_btn {
	display: none;
}
/* export menu*/
#drop_down_export {
	display: flex;
	justify-content: end;
	justify-content: flex-end;
}
#drop_down_export > button {
	height: max-content;
	margin-right: 1ex;
}
#drop_down_export .drop_btn {
	margin-right: 0px;
}
.mp_export_choices > .btn {
	float: left;
	margin-right: 1ex;
}
#drop_down_export .drop_down_div {
	margin-left: 1ex;
}
#drop_down_export .drop_btn:focus-within, #export_choice .drop_btn:focus-within {
	border: none;
	margin: 0;
	padding: 0;
	width: 0%;
	height: 0%;
	font-size: 0%;
}
#drop_down_export .drop_btn:focus-within + .up_btn + .export_all, .export_all:hover {
	display: flex;
	flex-direction: column;
}
#drop_down_export .drop_btn:focus-within + .up_btn {
	display: block;
}
#drop_down_export .drop_down_div:has(button:focus) {
	display: none;
}
#export_choice .drop_btn:focus-within + .up_btn + .export_all {
	display: flex;
	flex-direction: column;
}
#export_choice .drop_btn:focus-within + .up_btn {
	display: block;
}
/*
 * other pages
 */
#new_page_body { padding:2ex; }
#new_page_logo { width:96px }
/* Settings */
.CodeMirror, code {
	background-color: var(--mp-frame-background) !important;
	height:400px!important
}
.CodeMirror-gutters {
	background-color: var(--mp-background) !important;
}
#cog_settings {
	float:right!important;
}
#cog_settings:before {
	content:"⚙";
	margin-right:0.33ex;
	line-height:2ex;
}
/* Schedule Search */
#automatic_search table {border-collapse: collapse;}
#automatic_search tr td, #automatic_search tr th{
	border-bottom: 1px solid var(--mp-foreground);
}
#automatic_search tr th:nth-of-type(2) { min-width:16ex }
#automatic_search tr th:nth-of-type(2) { min-width:16ex }
#automatic_search tr th:nth-of-type(3) { min-width:16ex }
#automatic_search tr th:nth-of-type(4) { min-width:36ex }
#automatic_search tr:last-child td{border-bottom:none}
#automatic_search td,#automatic_search th {
	padding: 5px 5px;
	text-align:center;
}
#automatic_search a {text-decoration:none;}
#automatic_search input, #automatic_search select {
	color: #000;
}
#automatic_search .sch_sea_url {vertical-align:bottom !important}
#automatic_search button,
#automatic_search .sch_sea_url { height:24px!important}
/* Timezone settings */
#tz_p label{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#settings ~ p .choices {
	padding-left : 4px;
	margin-top: 4px;
}
#settings ~ p .choices__inner {
	min-height: 0 !important;
	width:auto;
	padding-right:2ex !important;
}
#welcome_h2 {margin-top:0.5ex}
#welcome_marquee {
	float:right;
	width:20%;
}
#donation_iframe {
	border:none;
	height:350px;
	flex-shrink:0;
	width:100%
}
.fld_ico {
	font-size:150%;
	line-height:10px;
	display: inline-block;
	transform: rotate(90deg);
	vertical-align:sub;
	margin-left:0.25ex
}
.fld_ico_hide {
	transform: rotate(0deg);
	vertical-align:baseline !important;
	margin-left:0!important;
	margin-right:0.25ex;
}
.cm-string {
	color: #4B0 !important
}
@-webkit-keyframes draw_attention_anim {
	from {box-shadow: 3px 3px 5px #ba8b00;}
	to {box-shadow : none;}
}
@-moz-keyframes draw_attention_anim {
	from {box-shadow: 3px 3px 5px #ba8b00;}
	to {box-shadow : none;}
}
@keyframes draw_attention_anim {
	from {box-shadow: 3px 3px 5px #ba8b00;}
	to {box-shadow : none;}
}
.draw_attention {
	box-shadow:10px 3px orange;
	-webkit-animation: draw_attention_anim 1s 98765432;
	-moz-animation: draw_attention_anim 1s 98765432;
	animation: draw_attention_anim 1s 98765432;
}
